body{
    /* background-color: #f5f5f5; */
    /* background-color: #1D233A; */
    background-color: #D7d7d7;
  
}

.parent_{
    width:100%;
    display:flex;
    min-height: 100vh;
    min-height: 45vh;
    margin: 5%;
}

.section_{
    /* background-color: #5e5e69; */
    height:20vh;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    /* color:white; */
    color: #1D233A;;
}

.related_links{
  list-style-type:none;
  display: block;
  font-size:1.5em;
  line-height: 3em;

}

a.linked:hover{
    color: rgb(221, 52, 52);
  }

.linked{
    text-decoration: none;
    color:#1D233A;;
    font-weight: bolder;
    /* color:white; */
    /* color:#1D233A; */
}


.footer{
    border-top: 1px solid white;
}

#faq {
    color: rgb(221, 52, 52);
}

.ftr_btn {
    .ftr_btn {
        margin: 0 auto;
        display: flex;
        margin-top: 2em;
        padding: 1em 2em;
        /* color: rgb(156, 81, 20); */
        /* background-color: #041F28; */
        background-color: #1D233A;
        font-weight: bolder;
        color: white;
        border-radius: 2px;
        text-transform: uppercase;
    }
}
