<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="Default.asp" />
                <add value="Default.htm" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="false" />
        <httpRedirect enabled="false" destination="https://qat.dir.texas.gov" httpResponseStatus="Permanent" />
        <rewrite>
            <rules>
                <clear />
                <rule name="Redirect port 80 to port 443" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://qat.dir.texas.gov/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
    <system.web>
        <identity impersonate="true" />
    </system.web>
</configuration>
